@model IEnumerable<QuanLyTruongMauGiao.Models.NOIDUNGDANHGIA>

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/LayoutGV.cshtml";
}
<style>
    .blue1_color {
        color: #2196f3 !important;
    }

    .icon_link {
        font-size: 20px;
    }
    .red_color {
        color: #e91e63 !important;
    }

    .yellow_color {
        color: #ff9800 !important;
    }
</style>
<h2>Nội dung đánh giá sự phát triển của trẻ</h2>
<div class="ibox">
    <div class="ibox-head">
        <div class="ibox-title">
            <button type="button" class="btn btn-outline-success" data-toggle="modal"><a href="/NoiDungDanhGias/Create" style="color: blue"> <i class="fa fa-plus-circle yellow_color"></i> Thêm mới</a></button>
        </div>
    </div>
    <div class="ibox-body">
        <table class="table table-striped table-bordered table-hover" id="example-table" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Mã nội dung đánh giá</th>
                    <th>Nội dung đánh giá</th>
                    <th></th>
                </tr>
            </thead>
            @{
                int stt = 0;
            }
            <tbody>
                @foreach (var item in Model)
                {
                    stt++;
                    <tr>
                        <td>
                            @stt
                        </td>
                        <td>
                            @item.MaNDDG
                        </td>
                        <td>
                            @item.NoiDungDanhGia1
                        </td>
                        <td>
                            <a href="/NoiDungDanhGias/Edit/@item.MaNDDG"> <i class="fa fa-wrench blue1_color icon_link"></i></a> |
                            <a href="/NoiDungDanhGias/Delete/@item.MaNDDG"> <i class="fa fa-trash-o red_color icon_link"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

</div>
